<div class="card">
  <div class="card-image">
    <figure class="image">
    {% if i.logo %}
      <img src="{{i.logo.filename}}" alt="{{i.name}} Institution Logo">
    {% endif %}
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><a href="{{i.url}}" target="_blank">{{i.name}}</a></p>
        {% if i.role %}
        <p class="subtitle is-6">{{i.role}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>